<h1>Display your Pirate here</h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p><%= @ship1.name %></p>
<p><%= @ship1.type %></p>
<p><%= @ship1.booty %></p>

<h2>Display your second ship here</h2>
<p><%= @ship2.name %></p>
<p><%= @ship2.type %></p>
<p><%= @ship2.booty %></p>
